<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">




    <link rel="stylesheet" href="../static/css/style.css">  

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="container"> 
        <header class="header">
            <nav class="nav">
                <a href="" class="material-symbols-outlined">menu</a>
            </nav>
            <h4 class="header_title">ToDo List</h4>
            <nav class="account_nav">
                <a href="/login" class="material-symbols-outlined">login</a>
                <a href="/register" class="material-symbols-outlined">register</a>
            </nav>
            <!-- <span class="material-symbols-outlined">close</span>  -->
        </header>
        <main class="main">
            {% block main%} {% endblock %}
        </main>
        <footer class="footer"></footer>
    </div>
</body>

</html>
