{% extends "base.html" %}

{% block title %}Todo List{% endblock %}

{% block main %}
    {% if not tasks %}
        <h2>No tasks</h2>
    {% endif %}
    
    <ul class="task_list">
        {% for task in tasks %}
            <li class="task_item">
                <a href="/task/done/{{task.id}}">done</a>
                <a href="/task/{{task.id}}" class="task_link">{{task.name}}</a>
                <a href="/task/delete/{{task.id}}">del</a>
            </li>
        {% endfor %}
    </ul>
    
    <a href="/add_task" class="btn-add-task">+ New task</a>
{% endblock %}
